*{
    margin: 0;
    padding: 0;
}

.navbar ul li{
    font-size: 27px;
}
.navbar ul li a:hover{
    color: black;
    
}



.principal{
    background-image:url("../img/imgprincipal.jpeg") ;
    background-size: cover;
    width: 100%;
    height: 500px;
}


/* NOTICIAS*/
.titulonoti{
    
    background-color: #F58F20;
    height: 90px;
    align-items: center;
    font-style: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.noti{
    font-size: 40px;
}

.btn{
    width: 100px;
    background-color: #F58F20;
    
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px;
}

.btn:hover{
    -webkit-box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17); 
    box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17);
}
.noticias{
    height: 330px;
        
        padding: 14px;
        align-items: center;
        box-sizing: border-box;
        
        background-color: #FAE9C5;
        border: 1px solid #000000;
        border-radius: 10px 10px 10px 10px;
        
    
    
    }
   
/*INFRAME*/
.mapa{
    width: 100%;
}
.contacto{
        justify-content: center;
        align-items: center;
        background-color: #F58F20;
        height: 90px;
        text-transform: uppercase;
        font-style: normal;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ubi{
    font-size: 40px;
}

/*CONTACTOS*/
.cajaform{
   
    height: 700px;
    width: 100%;
    background-image: url(../img/campo.jpg);
    background-size: cover;
    
}
.Dejanosconsulta{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
    
}
.formcontac{

        margin: auto;
        background: rgba(0,0,0,0.4);
        padding: 30px 20px;
       
        margin-top: 20px;
        
        border-radius: 7px;
        
        
}
.form-control:focus{
    width: 100%;
}
.form-control{
    
        width: 350px;
        margin-bottom: 10px;
        padding: 7px;
        box-sizing: border-box;
        transition: 1s;
}
.textarea{
    width: 100%;
        min-height: 100px;
    max-height: 200px;
    max-width: 100%;
    }

.Boton{
    background: #31384a;
        display: block;
    width: 100%;
    padding: 10px;
    color: #faf6f5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    }
    .Boton:hover{
        cursor: pointer;
    }

/*SERVICIOS*/

.tarjeta{
    text-align: center;
        border: 1px solid;
        border-radius: 10px 10px 10px 10px;
        border-radius:10px;
        padding: 10px 10px 10px 10px;
        box-sizing: border-box;
        margin: 5px;
        transition: width 2s ,  height 2s;
}
.tarjeta:hover{
    -webkit-box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17); 
    box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17);
    
}

 /*CLIENTESCONGRID*/
 .contenedorclientes{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px  700px 300px ;
    grid-template-areas: "nav nav nav"
                        "main main main"
                        "footer3 footer3 footer3"    ;   
}
.mainclientes{
    grid-area: main;
    grid-area: main;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("../img/campo\ 3.jpg");
    background-size: cover;
}
.tituloclientes{
    font-size: 35px;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    display: flex;
    justify-content: center

    
    
}
.Form-contacto2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    max-width: 450px;
    margin: auto;
    background: rgba(0,0,0,0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    
    border-radius: 7px;
}

.Letrahazolv{
    color: #fff;
    
}
.Letras{
    color: #fff;
}
.form1{
    height: 40px;
    width: 90%;
    transition: 1s;
}
.form1:focus{
    width: 100%;
}

.footer3{
    grid-area: footer3;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around
}

/*NOSOTROS*/
@media(min-width:1200px){
    .contenedornosotros{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px  900px 300px ;
        grid-template-areas: "nav nav nav"
                            "main main main"
                            "footer4 footer4 footer4"    ;
    }
    .mainnosotros{
    grid-area: main;
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .titulonosotros{
        display: flex;
        
        font-size: 40px;
    }
    .Parrafoemp{
        padding: 10px;
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        transition: 1s ,

    }
    .Parrafoemp:hover{
        font-size: 40px;
    }
    .Otrocolor{
        color: #F56319;
        font-size: 40px;
    } 
    .cajasobrelaempr{
        width: 90%;
        display: flex;
        border: solid;
        flex-direction: column;
        padding: 1%;
        
        align-items: center;
        transition: width 1s ,  height 1s;
    }
    .cajasobrelaempr:hover{
        -webkit-box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17); 
        box-shadow: 8px 7px 6px -2px rgba(0,0,0,0.17);
        width: 95%;
        height: 220px; 
        font-size: 60px;
    }
    .sobrelaempr{
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .imgposte2{
        margin: 20px;
    }
    .imgposte3{
        
        border: solid;
    }

    }
    .footer4{
        grid-area: footer4;
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: space-around

    }

    @media(max-width:1200px){
        .contenedornosotros{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 50px  800px 300px ;
            grid-template-areas: "nav nav nav"
                                "main main main"
                                "footer4 footer4 footer4"    ;
        }
        .mainnosotros{
        grid-area: main;
            width: 100%;
            display: flex;
            flex-direction: column;
            
            

        }
        .Parrafoemp{
            padding: 10px;
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            font-size: 20px;
            line-height: 30px;

        }
        .titulonosotros{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .Otrocolor{
        
            color: #F56319;
            font-size: 25px;
        } 
        .cajasobrelaempr{
            width: auto;
            display: flex;
            border: solid;
            flex-direction: column;
            
            align-items: center;
        }
        .sobrelaempr{
            font-size: 30px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .imgposte2{
            width: 100%;
        }
        .imgposte3{
            width: 100%;
            border: solid;
        }

    }



















/*FOOTER*/
.footer{
    
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around
    }
    .navfooter{
        position: relative;
        position: absolute;
        
        display: flex;
        justify-content: center;
        
        
        

    }
    .navfooter ul{
        list-style: none;
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        
        
    }
    .navfooter ul li{
        line-height: 40px;
        text-decoration: none;
        font-size: 20px;
        margin: 9px;
        padding: 0;
        
    }
    .navfooter ul li a{
        text-decoration: none;
        color: #fff;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .derechos{
        display: flex;
        align-items: flex-end;
        color: #fff;
        font-size: 15px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .contactof1{
        text-decoration: none;
        list-style: none;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .contactofooter{
        position: relative;
        position: absolute;
        right: 30px;
        color: #fff;
        font-size: 20px;
        margin: 0px;
        padding: 20px;
        line-height: 40px;    
    }
    .redes1{
        text-decoration: none;
        list-style: none;
        font-size: 25px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .redes{
        position: relative;
        position: absolute;
    left: 20px;
        color: #fff;
        font-size: 20px;
        margin: 0px;
        padding: 20px;
        line-height: 40px;    
    }


    /*MEDIA*/
    @media(max-width:1910px){
        .navfooter{
            position: relative;
            position: absolute;
            
            display: flex;
            justify-content: center;
            
            
            
        
        }
        .navfooter ul{
            list-style: none;
            text-decoration: none;
            padding: 10px;
            margin: 10px;
            
            
        }
        .navfooter ul li{
            line-height: 40px;
            text-decoration: none;
            font-size: 15px;
            margin: 9px;
            padding: 0;
            
        }
        .navfooter ul li a{
            text-decoration: none;
            color: #fff;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .derechos{
            display: flex;
            align-items: flex-end;
            color: #fff;
            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
        .contactof1{
            text-decoration: none;
            list-style: none;
            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .contactofooter{
            position: relative;
            position: absolute;
            right: 0;
            color: #fff;
            font-size: 9px;
            margin: 0px;
            padding-top: 18px;
            padding-right: 0;
            line-height: 60px;
            
        }
        .redes1{
            text-decoration: none;
            list-style: none;
            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .redes{
            position: relative;
            position: absolute;
            left: 20px;
            color: #fff;
            font-size: 15px;
            margin: 0px;
            padding-top: 30px;
            line-height: 50px;    
        }
    }

   